@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-BookItalic.woff2") format("woff2"), url("../fonts/CircularStd-BookItalic.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}
* {
	font-family: "Caveat";
	font-style: normal;
	font-weight: 400;
	text-align: left;
	
}
body{
	font-family:"CircularStd", serif;
	width: 1200px;
}
h1,
h2,
h3 {
	font-family: "CircularStd";
	font-weight: 700;
	text-transform: uppercase;
	line-height: 30px;
	letter-spacing: 5px;
	text-shadow: 2px 3px 5px #000;
}
.block{
	font-style: italic;
	font-size: 20px;
	font-weight: 300;
	background-color: aqua;
	padding: 5px 10px 15px 20px;
	text-align: center;
	text-decoration: underline;
	color: rgb(216, 29, 29, 0.9);
	text-shadow: rgb(78, 12, 201);
}
a.underline {
	text-decoration: underline;
	text-shadow: 2px 2px 5px rgb(180, 9, 9);
	color: red;
}
mark {
	color: green;
}
img {
	padding-left: 40px;
	width: 1000px;
	height: 1700px;
}
.frame {
	width: 1200px;
	height: 1800px;
	border: 3px solid #ccc;
	background: rgb(105, 98, 98); 
	margin: auto;
	padding: 15px 25px;
}
div.text {
	width: 1200px;
	height: 150px;
	padding: 10px 10px 15px 20px;
}
div.text ol li {
	color: rgb(69, 17, 211);
	text-align: right;
	text-decoration: line-through;
}
div.text p {
	text-transform: uppercase;
	text-shadow: 10px 10px 10px #000;
	text-align: center;
}
div.lowerpage {
	background-color: red;
	width: 1200px;
	height: auto;
	text-align: center;
}
div.lowerpage a{
	box-sizing: content-box;
	border-radius: 50%;
	margin: auto;
	background: #eee;
}